.env
.env*.local

node_modules/
apps/mobile/node_modules/

.expo/
.next/
.next-build*/
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/

*.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.npm-appdata/
.tmp/
next-swc-win32-x64-msvc-*.tgz
.gitconfig-codex
